<div class="event">
    <div class="content">
        <% if current_user.id == message.user.id %>
            <div class="summary me">
                <p>
                    <%= message.body %>
                </p>
            </div>
        <% else %>
            <div class="summary other">
                <em>
                    <%= message.user.username %>:
                </em> <br />
                <%= message.body %>
            </div>
        <% end %>
    </div>
</div>