// Place all the styles related to the chatroom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "semantic-ui";
@import "colors";

.chatroom-home{

    .chat-box{
        padding: 10px;
        // height: 400px;
    }
    .chat-header{
        text-align: center;
        background: black;
        color: white;
        padding: 10px;
        position: sticky;
        top: 0;
        border-radius: 5px;
    }
    .chat-space{
        height: 310px;
        overflow: auto;
    }
    .other{
        padding: 10px;
        background-color: #f1f8e9;
        width: 400px;
        em{
            color: $blue;
        }
    }
    .me{
        float: right;
        padding: 10px;
        background-color: lightyellow;
        width: 400px;
        p{
            float: right;
        }
    }
    .input-space{
        width: 90%;
    }
    .text-area{
        height: 60px;
    }

}

.flash-message{
    text-align: center;
    color: red;
    background: #ffebee;
    padding: 10px;
    font-weight: bold;
    margin: 10px 250px;
    border-radius: 5px;
}