// Place all the styles related to the chatroom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "semantic-ui";
@import "colors";

.chatroom-home{

    .chat-box{
        padding: 10px;
        // height: 400px;
    }
    .chat-header{
        text-align: center;
        background: black;
        color: white;
        padding: 10px;
        position: sticky;
        top: 0;
        border-radius: 5px;
    }
    .chat-space{
        height: 310px;
        overflow: auto;
    }
    .other{
        padding: 10px;
        background-color: lightcyan;
    }
    .me{
        float: right;
        padding: 10px;
        background-color: lightyellow;
    }
    .input-space{
        width: 90%;
    }
    .text-area{
        height: 60px;
    }

}